<div class="container mt-5">
  <div class="row">
    <div class="col-6">

  <h3>作品詳細</h3></br>

  <%= image_tag @work.image, size: "200x200" %></br>
  <%= @work.user.name %></br>

  <%= @work.genre %></br>

  <%= @work.introduction %></br>

  更新日：<%= @work.updated_at.strftime("%Y-%m-%D") %></br>

  <% if @work.user == current_user %>
  <%= link_to "編集・削除",edit_work_path(@work) %></br>
  <% end %>

  <%= link_to 'コメント投稿',work_comments_path(@work.id),method: :get %>

  <h4>最新コメント</h4>

    </div>
   </div>
  </div>