<div class="container">
  <div class="row">
     <div class="col-md-12">


    <h2>いいね数ランキング</h2>

       <div class = "row">

        <% @favorites_works.each.with_index(1) do |work, i| %>


            <ul class="card-wrapper">
             <li>
               第<%= i %>位
               <div class="post-card mr-5 ">
                 ユーザー：<%= work.user.name.truncate(14) %></br>

                  <%= link_to work_path(work.id) do %>
                      <%= image_tag work.image, size: "200x200" %></br>
                  <% end %>

                  作品名：<%= work.work.truncate(14) %></br>

                  <% if user_signed_in? %>
                    <% if current_user.already_favorited?(work) %>
                      <%= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
                    <% else %>
                      <%= link_to"♡", work_favorites_path(work.id), method: :post %>
                    <% end %>
                  <% end %>
                    <%= work.favorites.count %>いいね</br>
                  <% if work.genre.present? %>
                    ジャンル：<%= work.genre.truncate(14) %></br>
                  <% end %>
               </div>

                </li>
             </ul>
        <% end %>
      </div>


    <h2 class="mt-4">コメント数ランキング</h2>

      <div class="row">

           <% @comments_works.each.with_index(1) do |work, i| %>
             <ul class="card-wrapper">
               <li>
                  第<%= i %>位

                    <div class="post-card mr-5">
                        ユーザー：<%= work.user.name.truncate(14) %></br>

                      <%= link_to work_path(work.id) do %>
                          <%= image_tag work.image, size: "200x200" %></br>
                      <% end %>

                      作品名：<%= work.work.truncate(14) %></br>

                      <% if user_signed_in? %>
                        <% if current_user.already_favorited?(work) %>
                          <%= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
                        <% else %>
                          <%= link_to"♡", work_favorites_path(work.id), method: :post %>
                        <% end %>
                      <% end %>
                        <%= work.favorites.count %>いいね</br>
                      <% if work.genre.present? %>
                        ジャンル：<%= work.genre.truncate(14) %></br>
                      <% end %>
                      </div>
                 </li>
              </ul>
         <% end %>
      </div>

    </div>
  </div>
</div>