<div class="container">
  <div class="row">
     <div class="col-md-12">
        <h2 class="mt-3"><i class="fa-sharp fa-solid fa-heart"></i>いいね数ランキング</h2>
        <hr>
        <div class = "row">
        <% @favorites_works.each.with_index(1) do |work, i| %>
          <ul class="card-wrapper">
            <li>
            第<%= i %>位
            <div class="post-card mr-5" style="background-color: #CCE9FF">
            ユーザー：<%= work.user.name.truncate(10) %><br/>
            <%= link_to work_path(work.id) do %>
              <%= image_tag work.image, size: "200x200" %><br/>
            <% end %>
            作品名：<%= work.title.truncate(10) %><br/>
            <% if  current_user.name != "guest" %>
              <% if user_signed_in? && current_user.already_favorited?(work) %>
                <%= link_to"❤", work_favorites_path(work.id), method: :delete %><br/>
              <% else %>
                <%= link_to"♡", work_favorites_path(work.id), method: :post %>
              <% end %>
            <% end %>
            <%= work.favorites.count %>いいね<br/>
            <% if work.genre.present? %>
              ジャンル：<%= work.genre.truncate(10) %><br/>
            <% end %>
            </div>
            </li>
          </ul>
        <% end %>
      </div>
    <h2 class="mt-4"><i class="fa-sharp fa-solid fa-comment"></i>コメント数ランキング</h2>
    <hr>
      <div class="row">
        <% @comments_works.each.with_index(1) do |work, i| %>
          <ul class="card-wrapper">
            <li>
              第<%= i %>位
              <div class="post-card mr-5" style="background-color: #CCE9FF">
              ユーザー：<%= work.user.name.truncate(14) %><br/>
              <%= link_to work_path(work.id) do %>
                <%= image_tag work.image, size: "200x200" %><br/>
              <% end %>
              作品名：<%= work.title.truncate(14) %><br/>
              <% if current_user.name != "guest" %>
                <% if user_signed_in? && current_user.already_favorited?(work) %>
                  <%= link_to"❤", work_favorites_path(work.id), method: :delete %><br/>
                <% else %>
                  <%= link_to"♡", work_favorites_path(work.id), method: :post %>
                <% end %>
              <% end %>
              <%= work.favorites.count %>いいね<br/>
              <% if work.genre.present? %>
                ジャンル：<%= work.genre.truncate(14) %><br/>
              <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>