<div class = "container">
  <div class = "row">
     <div class = "col-md-12">

<h2>いいね数ランキング</h2>
  <% @favorites.each.with_index(1) do |post, i| %>

  第<%= i %>位

      ユーザー：<%#= @favorites.work.user.name %></br>

        <%= link_to work_path(work.id) do %>
            <%= image_tag @favorites.work.image, size: "150x150" %></br>
        <% end %>

        <% if user_signed_in? %>
          <% if current_user.already_favorited?(work) %>
            <%= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
          <% else %>
            <%= link_to"♡", work_favorites_path(work.id), method: :post %>
          <% end %>
        <% end %>
          <%= work.favorites.count %>いいね</br>
        <% if work.genre.present? %>
          ジャンル：<%= work.genre %></br>
        <% end %>
          作品名：<%= work.work %></br>



  <%# end %>

<h2>コメント数ランキング</h2>
  <%# @comments.each.with_index(1) do |post, i| %>

  第<%= i %>位
      ユーザー：<%= @comments.work.user.name %></br>

      <%= link_to work_path(work.id) do %>
          <%= image_tag @comments.work.image, size: "150x150" %></br>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.already_favorited?(work) %>
          <%= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
        <% else %>
          <%= link_to"♡", work_favorites_path(work.id), method: :post %>
        <% end %>
      <% end %>
        <%= work.favorites.count %>いいね</br>
      <% if work.genre.present? %>
        ジャンル：<%= work.genre %></br>
      <% end %>
        作品名：<%= work.work %></br>


   <%# end %>
    </div>
  </div>
</div>