 <div class="container mt-5">
   <div class="row">
     <div class="col-6">

     <h2>コメント一覧</h2></br>

      <div class = "mt-3">
        

        <% if @comments.empty? %>
        
           ユーザー：<%= @work.user.name %></br>
          <%= image_tag @work.image, size: "200x200" %></br>
        <% else %>
          <% @comments.each do |comment| %>
           ユーザー：<%= comment.user.name %></br>
           <%= image_tag @work.image, size: "200x200" %></br>
           作品名：<%= comment.work.work %></br>
        
      </div>


      <div class = "comment-card">
        <%= comment.user.name %>
        <%= image_tag comment.user.image, size: "50x50" %>
        <%= comment.comment %>
      </div>
      <div>
       <% if comment.user.id == current_user.id %>
        <%= link_to"コメントを削除",work_comment_path(@work.id,comment.id),method: :delete %>
       <% else %>
        <%= link_to"コメントを管理者に報告",new_report_path %>
       <% end %>
      </div>
    <% end %>
     <% end %>
     <h3>コメント</h3></br>
     <div>
       <%= form_with model:[@work,@comment],url: work_comments_path,method: :post do |f| %>

       <%= f.label :"コメントする" %>
       <%= f.text_field :comment %>

       <%= f.submit "投稿" %>
      <% end %>
     </div>


      <%= paginate @comments %>
     </div>
    </div>
   </div>