  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
       <h2>お気に入り投稿</h2>

            <ul class = "card-wrapper mt-3">
              <li class = "post-card">
                <% @works.each do |work| %>

                    ユーザー：<%= work.user.name %></br>

                    <%= link_to work_path(work.id) do %>
                       <%= image_tag work.work.image, size: "200x200" %></br>
                    <% end %>
                    作品名：<%= work.work.work %></br>
                    <% if user_signed_in? %>
                      <% if current_user.already_favorited?(work) %>
                        <%= link_to"❤", work_favorites_path(work.id), method: :delete %></br>
                      <% else %>
                        <%= link_to"♡", work_favorites_path(work.id), method: :post %>
                      <% end %>
                    <% end %>

                      <%= work.work.favorites.count %>いいね</br>

                     <% if work.work.genre.present? %>
                     ジャンル：<%= work.work.genre %></br>
                     <% end %>
                <% end %>
              </li>
            </ul>
        <%= paginate @works %>
      </div>
    </div>
  </div>