  <div class="container mt-5">

       <h2>お気に入り投稿</h2>
            <ul class = "card-wrapper mt-3">
                <% @works.each do |art| %>
                  <li class = "post-card" style="background-color: #CCE9FF">

                      ユーザー：<%= art.user.name.truncate(14) %><br/>

                      <%= link_to work_path(art) do %>
                         <%= image_tag art.image, size: "200x200" %><br/>
                      <% end %>

                      作品名：<%= art.work.truncate(10) %><br/>

                      <% if user_signed_in? %>
                        <% if current_user.already_favorited?(art) %>
                          <%= link_to"❤", work_favorites_path(art), method: :delete %><br/>
                        <% else %>
                          <%= link_to"♡", work_favorites_path(art), method: :post %>
                        <% end %>
                      <% end %>

                        <%= art.favorites.count %>いいね<br/>

                       <% if art.genre.present? %>
                       ジャンル：<%= art.genre.truncate(10) %><br/>
                       <% end %>
                    </li>
                <% end %>
            </ul>
        <%= paginate @works %>
  </div>