  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
       <h2>お気に入り投稿</h2>

         <% @works.each do |art| %>
            <%= art.work.user.name %>
            <%= link_to work_path(art.id) do %>
              <%= image_tag art.work.image, size: "150x150" %></br>
            <% end %>
              <%= art.work.work %></br>
            <% if current_user.already_favorited?(art) %>
              <%= link_to"❤", work_favorites_path(art.id), method: :delete %><
              <% else %>
              <%= link_to"♡", work_favorites_path(art.id), method: :post %>
            <% end %>
              <%#= art.favorites.count %>いいね
          <% end %>

      </div>
    </div>
  </div>