      <h4 class="mt-5 ">最新コメント</h4>
      <div class="wrapper_all">
    　　　<% comments.each do |comment| %>
    　　    <div class="wrapper_middle">
      　　  　<div class="card-wrapper mt-2">
              <div class="d-block comment-card">
                  <div class="text-center">
                    <%= image_tag comment.user.image, size: "75x75" %>
                  </div>
                  <div class="text-center">
                    <small><%= comment.user.name.truncate(14) %></small>
                  </div>
                  <hr>
                  <%= comment.comment %>
              </div>
            </div>


            <div class="comment">
              <% if comment.user.id == current_user.id %>
                <button type="button" class="btn btn-warning mt-2">
                   <%= link_to"削除",work_comment_path(@work.id,comment.id),method: :delete %>
                 </button>
               <% else %>
                  <button type="button" class="btn btn-danger mt-2">
                    <%= link_to"報告", new_work_comment_report_path(@work,comment)  %>
                  </button>
               <% end %>
            </div>



          </div>
        <% end %>
      </div>


      <%= paginate comments %>

