<div class="container mt-5">
  <div class="row">
    <div class="col-12">

        <h2>検索結果</h2>

        <table class="table table-hover table-inverse">


          <% if @range == "ユーザー" %>
            <tbody>
              <% if @users.present? %>
                <% @users.each do |user| %>
                  <tr>
                    <td>ユーザー名：<br/>
                      <%= link_to edit_admin_user_path(user.id) do %>
                       <%= user.name %>
                      <% end %>
                    </td>
                    <td>自己紹介：<br/><% user.introduction %></td>
                    <td>プロフィール画像<br/>
                    <% if user.image.attached? %>
                      <%= image_tag user.image, size: "150x150" %>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          <% end %>

          <% if @range =="作品" %>
            <tbody>
              <% if @works.present? %>
                <% @works.each do |work| %>
                  <tr>
                    <td>作品名：<br/>
                      <%= link_to work_path(work) do %>
                        <%= work.work %>
                      <% end %>
                    </td>
                    <td>ジャンル：<br/><%= work.genre %></td>
                    <td>作品説明：<br/><%= work.introduction %></td>
                    <td><%= link_to work_path(work.id) do %>
                      <%= image_tag work.image, size: "150x150" %><br/>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>