<div class="container mt-5">
 <div class="row">
  <div class="col-6">

      <% if @user == current_user %>
        <h2>マイページ</h2></br>
      <% end %>

      <% if @user != current_user %>
        <h2>ユーザーページ</h2></br>
         ユーザー：<%= @user.name %></br>
      <% end %>


      <%= image_tag @user.image, size: "150x150" %></br>

      <% if @user.introduction.present? %>
        自己紹介</br>
        <%= @user.introduction %></br>
      <% end %>


      <% if @user != current_user %>
        <% if @user.is_followed_by?(current_user) %>
          <%= link_to user_relationships_path(@user),method: :delete do %>
            <button class ="btn btn-danger">フォロー解除</button></br>
          <% end %>

          <% else %>
          　 <%= link_to user_relationships_path(@user),method: :post do %>
              <button class ="btn btn-primary">フォロー</button></br>
            <% end %>
         <% end %>
      <% end %>

      <%= link_to"お気に入り",favorites_path %></br>
      <%= link_to @user.followings.count, followings_user_path(@user) %>フォロー  </br>
      <%= link_to @user.followers.count, followers_user_path(@user) %>フォロワー</br>

      <% if @user == current_user %>
       <%= link_to"マイページ編集",edit_user_path(current_user) %></br>
      <% end %>

    <%= render 'common/latest_post' ,works: @works %>

    </div>
   </div>
  </div>