<div class="container mt-5">
 <div class="row">
  <div class= "col-12">
      <% if @user == current_user %>
        <h2><i class="fa-solid fa-user"></i>マイページ</h2><br/>
        プロフィール画像<br>
      <% end %>
      <% if @user != current_user %>
        <h2><i class="fa-regular fa-user"></i>ユーザーページ</h2><br/>
         ユーザー：<%= @user.name %><br/>
      <% end %>
      <div class="m-3">
        <% if @user.image.present? %>
          <%= image_tag @user.image, class: 'work-image'  %><br/>
        <% end %>
      </div>
      <% if @user.introduction.present? %>
        自己紹介<br/>
        ：<%= @user.introduction %><br/>
      <% end %>
      <% if current_user.is_guest? %>
        <%= link_to @user.followings.count, followings_user_path(@user) %>  フォロー  <br/>
        <%= link_to @user.followers.count, followers_user_path(@user) %>  フォロワー<br/>
      <% end %>
        <%= link_to"お気に入り",favorites_path(@user),class:"btn btn-warning mt-3" %><br/>
      <% if current_user.is_guest? %>
        <% if @user == current_user %>
          <%= link_to"マイページ編集",edit_user_path(current_user),class:"btn btn-success mt-3" %><br/>
         <% else %>
            <% if @user.is_followed_by?(current_user) %>
              <%= link_to user_relationships_path(@user), method: :delete do %>
                <button class="btn btn-danger mt-3">フォロー解除</button>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@user), method: :post do %>
                <button class="btn btn-primary mt-3">フォロー</button>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
      <hr>
      <%= render 'common/latest_post' ,works: @works %>
    </div>
   </div>
  </div>