<div class="container mt-5">
 <div class="row">
  <div class="col-6">

    <h2>ユーザーページ</h2></br>
      ユーザー：<%= @user.name %></br>
      自己紹介</br>
      <%= current_user.introduction %></br>


      <%= link_to"お気に入り",favorites_path %></br>

      <%= link_to"フォロー",followings_user_path %></br>
      <%= link_to"フォロワー",followers_user_path %></br>

      <% if @user == current_user %>
       <%= link_to"マイページ編集",edit_user_path(current_user) %></br>
      <% end %>

    <div>
      <最新投稿></br>
      投稿数  <%= @works.count %></br>
      <% @works.each do |work| %>

        <%= link_to work_path(work.id) do %>
         <%= image_tag work.image, size: "150x150" %>
        <% end %></br>

         <%= work.work %></br>

      <% end %>

      <%= paginate @works %>
    </div>

    </div>
   </div>
  </div>