<!DOCTYPE html>
<html>
  <head>
    <title>ArtistsAgora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7f7a7e072f.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FAA63F;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">


    <h1>Artist's Agora</h1></br>

        <div class="ml-5">
          <% if user_signed_in? %>
            <%= image_tag current_user.image, size: "70x70" if current_user.image.present? %>
            <small><%= current_user.name.truncate(10) %></small>
          <% end %>
        </div>


        <ul class = "navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <%= render 'common/search_bar'  %>
            <li  class="nav-item"> <%= link_to"ユーザー",admin_admin_path, class: "nav-link" %> </li>
            <li  class="nav-item"> <%= link_to"通報一覧",admin_reports_path, class: "nav-link" %> </li>
            <li  class="nav-item"> <%= link_to"タイムライン", admin_works_path, class: "nav-link" %> </li>
            <li  class="nav-item"><i class="fa-sharp fa-solid fa-right-from-bracket"><%= link_to"ログアウト", destroy_admin_session_path,method: :delete, class: "nav-link" %></i></li>

          <% elsif user_signed_in? %>
              <%= render 'common/search_bar'  %>

            <li  class="nav-item"> <%= link_to"タイムライン", works_path, class: "nav-link" %> </li>
            <li  class="nav-item"> <%= link_to"ランキング", ranks_path, class: "nav-link" %> </li>
            <% if current_user.email != "guest@example.com" %>
              <li  class="nav-item"> <%= link_to"新規投稿", new_work_path, class: "nav-link" %> </li>
              <li  class="nav-item"> <%= link_to"マイページ", user_path(current_user), class: "nav-link" %> </li>
            <% end %>
            <li  class="nav-item"><i class="fa-sharp fa-solid fa-right-from-bracket"><%= link_to"ログアウト",  destroy_user_session_path,method: :delete, class: "nav-link" %></i></li>

          <% else %>
            <li  class = "nav-item"><i class="fa-sharp fa-solid fa-right-to-bracket"><%= link_to"ログイン",new_user_session_path, class: "nav-link" %></i></li>

          <% end %>

        </ul>
      </div>
    </nav>
  <%= yield %>

  </body>
</html>
